.rmm-megamenu-main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(243 244 246);
  border-radius: 8px;
}

.rmm-megamenu-menu {}

.rmm-megamenu-cta {
  padding: 1rem;
  padding-bottom: 0px;
}

.rmm-megamenu-cta__title {
  margin: 10px 0;
  font-weight: 700;
  font-size: var(--font-medium);
  display: block;
}

.rmm-megamenu-cta__des {
  margin-bottom: 8px;
  font-size: var(--font-xsmall);
  max-width: 200px;
  display: block;
}

.rmm-megamenu-img {
  margin: 1rem;
  max-width: 20%;
  padding: 2rem;
  border-radius: 8px;
  background-color: rgb(107 114 128);
  background-attachment: local;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  text-decoration: none;
}

.rmm-megamenu-img:hover {
  background-blend-mode: soft-light;
}

.rmm-megamenu-img__title {
  color: #fff;
  max-width: 36rem;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.025em;
}