.example-ul {
  display: flex;
  list-style: none;
}

.example-li {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: #000;
}

.example-li:hover {
  display: block;
  padding: 8px 12px;
  color: #aaa;
}

.example-li:hover .example-megamenu {
  display: block;
  position: absolute;
  z-index: 10;
  margin-top: 4px;
}

.example-svg {
  width: 10px;
  height: 10px;
  margin-inline-start: 6px;
}

.example-megamenu {
  display: none;
}